<div class="jumbotron">
  <div class="container">
    <h1>Be. Better.</h1>
    <p>We know what it takes to help players of all ages and skill sets achieve their goals.</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 col-md-6 col-lg-6">
    <div class="thumbnail">
      <img src="/assets/dock.jpeg" alt="some alternate text">
      <div class="caption">
        <h3>Levi Wright</h3>
        <p>Some awesome text describing what you're good at teaching etc.</p>
        <p><a href="#" class="btn btn-primary" role="button">View Full Resume</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-6 col-lg-6">
    <div class="thumbnail">
      <img src="/assets/dock.jpeg" alt="some alternate text">
      <div class="caption">
        <h3>Cece Wright</h3>
        <p>Some awesome text describing what you're good at teaching etc.</p>
        <p><a href="#" class="btn btn-primary" role="button">View Full Resume</a></p>
      </div>
    </div>
  </div>
</div>
<div class="jumbotron">
  <div class="container">
    <h1>You Can Do Anything</h1>
    <p>We firmly believe that with effort, instruction, and desire, any individual, regardless of their age, sex, ethnicity, or 
      economic background, can learn the skills required to be an excellent soccer player and human being. Our 
      training is always tailored uniquely for each person in order for them to reach their potential. We 
      can help with preparation for that big try out, that lack of defensive or offensive confidence, finishing, fitness... anything! 
      We can be of great help because we have been through all of these things ourselves, and we want you to succeed. 
    </p>
  </div>
</div>

