<div class="container">
  <div class="jumbotron white-jumbo">
    <h1>Be. <strong>That.</strong> Player. </h1>
    <p>With the right instruction and the right attitude, anyone can become an excellent soccer player and human being.
      We come from high profile teams and competitive backgrounds, and we know what it takes to get you to
      where you want to be!
    </p>
  </div>

  <div class="row">
    <div class="jumbotron purple-jumbo col">
      <h1>Why Choose Us?</h1>
      <p>You get two trainers for the price of one! Both of us are present at your training sessions. This provides a
        safe learning environment, and it allows us to do more involved 'real world' drills
        to improve your game.
      </p>
    </div>
    <div class="jumbotron light-blue-jumbo col-sm-12 col-xl-8">
      <h1>Who Do We Train?</h1>
      <p class="larger-font">We work with everyone! Whether you're experienced, or are just starting out, we will
        tailor our training to fit your needs. We can work with individuals or groups with no problem!</p>
    </div>
    <div class="jumbotron dark-blue-jumbo">
      <h1>How Do I Start?</h1>
      <p>Simply visit out 'Contact' page and send us a message! Provide as much detail about what you want to work on
        improving, and we will get back to you as soon as possible through your preference of a phone
        call or email.
      </p>
    </div>
  </div>
  <div class="jumbotron white-jumbo">
    <h1>Customer Reviews</h1>
    <hr style="border-color: #303256;">
    <p>
      "<i>Levi and Cece were able to take me to exactly where I wanted to be. Loved working with them!</i>
    </p>
    <p> --James L.</p>
    <p>
      "<i>I was really impressed with how well they worked with my daughter. They were patient and catered to
        what her needs were.
      </i>
    </p>
    <p> --Tyler P.</p>
    <p>
        "<i>My son made his high school soccer team and I couldn't be happier with the service provided from 
          these coaches.
        </i>
      </p>
      <p> --Bethany A.</p>
  </div>
</div>