<div class="container">
  <div class="jumbotron" style="background-color: white; opacity: 0.95;">
    <h1>Be <strong>That</strong> Player </h1>
    <p>With the right instruction and the right attitude, anyone can become an excellent soccer player and human being.
      We come from high profile teams and competitive backgrounds, and we know what it takes to get you to
      where you want to be!
    </p>
  </div>
  <div class="row">
    <div class="jumbotron" style="background-color: #25274D; color: white; opacity: 0.95; width: 60%;">
        <h1>Why Choose Us?</h1>
        <p>You get two trainers for the price of one! Both of us are present at your training sessions. This provides a safe learning environment, and it allows us to do more involved 'real world' drills
          to improve your game.
        </p>
    </div>
    <div class="jumbotron" style="background-color: #2D9CCA; color: white; opacity: 0.95; width: 70%; margin-left: 30%;">
        <h1>Who Do We Train?</h1>
        <p>We work with everyone! Whether you're experienced, or are just starting out, we will tailor our training to fit your needs. We can work with individuals or groups with no problem!</p>
    </div>
    <div class="jumbotron" style="background-color: #29658A; color: white; opacity: 0.95; width: 58%; margin-left: 15%;">
        <h1>How Do I Start?</h1>
        <p>Simply visit out 'Contact' page and send us a message! Provide as much detail about what you want to work on improving, and we will get back to you as soon as possible through your preference of a phone 
          call or email.
        </p>
    </div>
  </div>
</div>