<div class="container">
  <h3>We'd Love to Hear From You!</h3>
  <h5>We do our best to respond to our potential customers as quickly as possible. But if we can't get to you right away, we will respond within 48 hours.
    We look forward to helping you reach your goals!
  </h5>
  <form #emailForm="ngForm" novalidate>
    <div class="form-group">
      <label >Name</label>
      <input class="form-control" placeholder="First, Last" type="text" id="name" name="nameContent" [(ngModel)]="potentialCustomer.name" (click)="verifyNameInput(potentialCustomer.name)">
    </div>
    <div class="field-error-text" *ngIf="potentialCustomerError.nameErrorFlag">
      {{ potentialCustomerError.nameError }}
    </div>
    <div class="form-group">
      <label>Email Address</label>
      <input class="form-control" placeholder="example@website.com" type="text" id="emailAddressContent" name="emailAddressContent" [(ngModel)]="potentialCustomer.emailAddress">
      </div>
    <div class="form-group">
        <label>Phone Number</label>
        <input class="form-control" placeholder="10 digits, including aread code" type="text" id="phoneNumberContent" name="phoneNumberContent" [(ngModel)]="potentialCustomer.phoneNumber">
    </div>
    <div class="form-group">
      <label>Number of Trainees</label>
      <select class="form-control" name="numberOfTrainees" [(ngModel)]="potentialCustomer.numberOfTrainees">
        <option value="" disabled="true">-Select-</option>
        <option *ngFor="let number of numberOfTrainees">
          {{ number }}
        </option>
      </select>
    </div>
    <div class="form-group">
        <label>Age of Trainee(s)</label>
        <input class="form-control" placeholder="Example : 12, 17, 24, 35" type="text" id="ageContent" name="ageContent" [(ngModel)]="potentialCustomer.age">
    </div>
    <div class="form-group">
        <label>How Long Would You Like to Train?</label>
        <input class="form-control" placeholder="Example : 3 Months / 2 Weeks / Undecided" type="text" id="trainingDurationContent" name="trainingDurationContent" [(ngModel)]="potentialCustomer.trainingDuration">
    </div>
    <label>My communication preference:</label>
    <div class="form-group">
      <select class="form-control" name="communicationPreference" [(ngModel)]="potentialCustomer.communicationPreference">
        <option value="" disabled="true">-Select-</option>
        <option *ngFor="let preference of communicationPreferences">
          {{ preference }}
        </option>
      </select>
    </div>
    <div class="form-group">
      <label>I'm Most Interested in Working On...</label>
      <select class="form-control" name="primaryInterest" [(ngModel)]="potentialCustomer.primaryInterest">
        <option value="" disabled="true">-Select-</option>
        <option *ngFor="let interest of interests">
          {{ interest }}
        </option>
      </select>
    </div>
    <div class="form-group">
        <label >Additional Comments</label>
        <textarea class="form-control" placeholder="Tell us about yourself! For Example : Experience level, Current teams you play for, and what you're hoping to get out of working with us." rows="8" id="emailContent" name="emailContent"  [(ngModel)]="potentialCustomer.additionalComments"></textarea>
      </div>
    <button class="btn btn-primary btn-lg btn-block save-button" type="submit" id="sendEmailButton" name="send" (click)="sendEmail()">Send</button>
  </form>
</div>