.communication-preference-radio-spacing{
    margin-right: 10px; 
}

.email-content{
    height: 30%;
}

.save-button{
    margin-bottom: 30px; 
}

.container {
    margin-bottom: 65px; 
    margin-top: 65px; 
}