<div class="container">
  <h3>We'd Love to Hear From You!</h3>
  <h5>We do our best to respond to our potential customers as quickly as possible. But if we can't get to you right
    away, we will respond within 48 hours.
    We look forward to helping you reach your goals!
  </h5>
  <form (ngSubmit)="sendEmail()" [formGroup]="contactForm" novalidate>
    <div class="form-group">
      <label>Name</label>
      <input id="name" type="text" class="form-control" placeholder="First, Last" formControlName="name" [ngClass]="{'is-invalid': !contactForm.get('name').valid && (contactForm.get('name').touched)}" />
    </div>
    <span id="nameError" class="field-error-text" *ngIf="contactForm.get('name').touched && !contactForm.get('name').valid">
      Name is a required field.
    </span>
    <div formGroupName="emailGroup">
      <div class="form-group">
        <label>Email Address</label>
        <input id="email" type="text" class="form-control" placeholder="example@website.com" formControlName="email"
          [ngClass]="{'is-invalid': contactForm.get('emailGroup').errors ||
                                    !contactForm.get('emailGroup.email').valid 
                                    && (contactForm.get('emailGroup.email').touched)}" />
      </div>
      <span id="emailError" class="field-error-text" *ngIf="contactForm.get('emailGroup.email').touched 
                                                            && !contactForm.get('emailGroup.email').valid">
        {{emailError}}
      </span>
      <div class="form-group">
        <label>Confirm Email Address</label>
        <input id="confirmEmail" type="text" class="form-control" placeholder="example@website.com" formControlName="confirmEmail"
                      [ngClass]="{'is-invalid': contactForm.get('emailGroup').errors ||
                                                !contactForm.get('emailGroup.confirmEmail').valid 
                                                && (contactForm.get('emailGroup.confirmEmail').touched)}" />
      </div>
      <span id="emailError" class="field-error-text" *ngIf="(contactForm.get('emailGroup.confirmEmail').touched 
                                                            && !contactForm.get('emailGroup.confirmEmail').valid) 
                                                            || contactForm.get('emailGroup').errors ">
        Email is invalid or does not match
      </span>
    </div>
    <div formGroupName="phoneGroup">
      <div class="form-group">
        <label>Phone Number</label>
        <input id="phone" type="text" class="form-control" maxlength="10" placeholder="(123) 123 - 1234"
          formControlName="phone" [ngClass]="{'is-invalid': contactForm.get('phoneGroup').errors ||
                                                            !contactForm.get('phoneGroup.phone').valid 
                                                            && (contactForm.get('phoneGroup.phone').touched)}" />
      </div>
      <div class="field-error-text" *ngIf="contactForm.get('phoneGroup.phone').touched && !contactForm.get('phoneGroup.phone').valid">
        {{phoneError}}
      </div>
      <div class="form-group">
        <label>Confirm Phone Number</label>
        <input id="phone" type="text" class="form-control" maxlength="10" placeholder="(123) 123 - 1234"
          formControlName="confirmPhone" [ngClass]="{'is-invalid':  contactForm.get('emailGroup').errors ||
                                                                    !contactForm.get('phoneGroup.confirmPhone').valid 
                                                                    && (contactForm.get('phoneGroup.confirmPhone').touched)}" />
      </div>
      <div class="field-error-text" *ngIf="contactForm.get('phoneGroup.confirmPhone').touched && !contactForm.get('phoneGroup.confirmPhone').valid">
        Phone is Invalid or does not match
      </div>
    </div>
    <label>My Communication Preference:</label>
    <div class="form-group">
      <label class="communication-preference-radio-spacing">
        <input id="emailRadio" type="radio" value="email" formControlName="communicationPreference" (click)="setCommunicationPreference('email')">
        Email
      </label>
      <label>
        <input id="phoneRadio" type="radio" value="phone" formControlName="communicationPreference" (click)="setCommunicationPreference('phone')">
        Phone
      </label>
    </div>
    <div class="form-group">
      <label>I'm Most Interested in Working On...</label>
      <select id="primaryInterest" class="form-control" formControlName="primaryInterest">
        <option value="" disabled="true">-Still Deciding-</option>
        <option *ngFor="let interest of interests">
          {{ interest }}
        </option>
      </select>
    </div>
    <div class="form-group">
      <label>About Me</label>
      <textarea id="aboutMe" class="form-control" placeholder="Tell us about yourself! For Example : Experience level, Current teams you play for, and what you're hoping to get out of working with us."
        rows="6" formControlName="aboutMe" [ngClass]="{'is-invalid': !contactForm.get('aboutMe').valid 
        && (contactForm.get('aboutMe').touched)}"></textarea>
    </div>
    <div class="field-error-text" *ngIf="contactForm.get('aboutMe').touched && !contactForm.get('aboutMe').valid">
      About Me is a required field
    </div>
    <button class="btn btn-primary btn-lg btn-block save-button" type="submit" id="sendEmailButton" [title]="contactForm.valid ? 'Send us an email' : 'Disabled until all required fields are filled with valid data'"
      [disabled]="!contactForm.valid">
      Send</button>
  </form>
</div>