<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-6 col-lg-6">
      <div class="card mb-3 individual-card">
        <div class="card-header">
          <h1 class="card-title">Individual : $30.00</h1>
        </div>
        <div class="card-body individual-card-body">
          <h4 class="card-text"> $30.00 per 1 hour session for one individual. <strong>$5.00 discount given for cash payment.</strong></h4>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6">
      <div class="card group-card">
        <div class="card-header">
          <h1 class="card-title">Group : $45.00</h1>
        </div>
        <div class="card-body text-white">
          <h4 class="card-text">1 hour group session for up to 4 individuals. <strong>$5.00 discount given for cash payment.</strong></h4>
        </div>
      </div>
    </div>
  </div>
  <div class="row row-margin">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <div class="jumbotron jumbotron-text">
        <h1 class="display-4">Pay Securely Through Venmo&#8482;</h1>
        <p class="lead">Venmo is easy and secure. You can send  us payment directly from your bank account or credit card.</p>
        <hr class="my-4">
        <p class="lead">
          <a class="btn btn-lg button-color" href="#" role="button">Go to Venmo&#8482;</a>
        </p>
      </div>
    </div>
  </div>
</div>