<div class="container">
  <!-- <div class="row" style="margin-top: 20px;">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <div class="jumbotron" style="color: #474866; background-color: white;">
        <h3 class="display-4">How Does This Work?</h3>
        <ul>
          <li>
            <p><strong>We offer a free evaluation session for all of our new clients. We will meet in person and
                discuss what
                your goals are, and then we will assess your current skill level
                in the areas you wish to work on. The purpose of these visits is for our clients to get acquainted with
                us,
                and to help them decide whether we will be a good fit. We want
                you to be comfortable and for you to enjoy yourself! Contact us through the 'Contact' tab of our
                website,
                and we will get things going.</strong></p>
          </li>
          <li>
            <p><strong>All of our training sessions are 60 minutes in duration. We advise that you arrive early to warm
                yourself
                up as we want to spend the majority of our time working on improving
                your skill set. We will always send our clients home with 'homework' that will allow them to work in
                between sessions.</strong>
            </p>
          </li>
          <li>
            <p><strong>
                We accept payment in the form of cash or venmo. We can always chat and handle payment details in the
                way that's most convenient for you!
              </strong>
            </p>
          </li>
        </ul>

      </div>
    </div>
  </div> -->
  <div class="row">
    <div class="col-sm-6 col-md-6 col-lg-6">
      <div class="card mb-3" style="min-height: 30rem; margin-top: 20px; color: #25274D; border-color: #25274D;">
        <div class="card-header">
          <h1 class="card-title">Individual : $30.00</h1>
        </div>
        <div class="card-body" style="color: #25274D;">
          <h4 class="card-text"> $30.00 per 1 hour session for one individual. <strong>$5.00 discount given for cash payment.</strong></h4>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6">
      <div class="card text-white" style="min-height: 30rem; margin-top: 20px; background-color: #2D9CCA; color: white;">
        <div class="card-header">
          <h1 class="card-title">Group : $45.00</h1>
        </div>
        <div class="card-body text-white">
          <h4 class="card-text">1 hour group session for up to 4 individuals. <strong>$5.00 discount given for cash payment.</strong></h4>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 20px;">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <div class="jumbotron" style="color: #25274D; background-color: white;">
        <h1 class="display-4">Pay Securely Through Venmo&#8482;</h1>
        <p class="lead">Venmo is easy and secure. You can send  us payment directly from your bank account or credit card.</p>
        <hr class="my-4">
        <p class="lead">
          <a class="btn btn-lg" style="background-color: #2D9CCA; color: white;" href="#" role="button">Go to Venmo&#8482;</a>
        </p>
      </div>
    </div>
  </div>
</div>