<div class="container">
  <div class="row" *ngIf="isDisplayPhotos">
    <div class="col-sm-6 col-md-6 col-lg-6">
      <div class="thumbnail">
        <img src="/assets/dock.jpeg" alt="some alternate text">
        <div class="caption">
          <h2>Levi Wright</h2>
          <button id="leviResume" class="btn btn-lg btn-block button-color"  (click)="toggleResumeContent('levi')" role="button">View
              Full Resume</button>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6">
      <div class="thumbnail">
        <img src="/assets/dock.jpeg" alt="some alternate text">
        <div class="caption">
          <h2>Cece Wright</h2>
          <button id="ceceResume" class="btn btn-lg btn-block button-color" (click)="toggleResumeContent('cece')" role="button">View Full
              Resume</button>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!isDisplayPhotos">
    <app-resume [resumeFor]='resumeFor' (displayPhotosEvent)="receiveDisplayPhotosMessage($event)"></app-resume>
  </div>
</div>