<nav class="navbar navbar-dark bg-dark">
  <ul class="nav nav-pills">
      <li class="nav-item">
        <a class='nav-link' [routerLink]="['/about-us']">Home</a>
      </li>
      <li class="nav-item">
          <a class='nav-link' [routerLink]="['/trainers']">Coaches</a>
        </li>
      <li class="nav-item">
        <a class='nav-link' [routerLink]="['/contact']">Contact</a>
      </li>
      <li class="nav-item">
        <a class='nav-link' [routerLink]="['/pricing']">Pricing</a>
      </li>
  </ul>
</nav>
<div class='container'>
    <router-outlet></router-outlet>
  </div>
