<nav class="navbar fixed full-width nav-bar-background-color">
  <ul class="nav nav-pills style=">
      <li class="nav-item">
        <a class='nav-link nav-pill-text-color'  [routerLink]="['/about-us']">Home</a>
      </li>
      <li class="nav-item">
          <a class='nav-link nav-pill-text-color' [routerLink]="['/trainers']">Coaches</a>
        </li>
      <li class="nav-item">
        <a class='nav-link nav-pill-text-color' [routerLink]="['/contact']">Contact</a>
      </li>
      <li class="nav-item">
        <a class='nav-link nav-pill-text-color' [routerLink]="['/pricing']">Pricing</a>
      </li>
      <li class="nav-item">
          <a class='nav-link nav-pill-text-color' [routerLink]="['/something']">How it works</a>
        </li>
  </ul>
</nav>
<div class='container'>
    <router-outlet></router-outlet>
  </div>
