.fixed {
    position: fixed;
    margin-bottom: 30px; 
    z-index:99;
}

.full-width {
    width: 100%; 
}

.nav-bar-background-color {
    background-color: #303256;
}

.nav-item:hover{
    background-color: white; 
}